/* App */
.App {
  text-align: center;
}

/* Home */
.Home-wrapper {
  background-image: url('https://thumbs.gfycat.com/DelayedMiserableHen-size_restricted.gif');
  background-repeat: repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 2px 2px black;
  color: white;
  }
.Home-header {
  font-size: 45px;
}
.Home-body {
  font-size: 36px;
}
.Home-link {
  color: gold;
}
.Home-link:hover {
  color: red !important;
}

/* Nav */
.Nav-wrapper {	
  background: teal;
  text-align: center;
  font-size: 27px;
  text-shadow: 2px 2px black;
	width: 100%;
	min-height: 55px;
	padding-left: 25px;
	border-bottom: 1px solid rgba(15,15,15,0.5);
	margin: auto;
}
.Nav-links-wrapper {
  margin: auto;
}
.Nav-link {
  margin: 5px 12px;
  float: left;
  color: white;
}
.Nav-link:hover {
  color: red !important;
}
.Active-link {
  color: red !important;
}

/* Super Heros */
.sh-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: repeat;
  position: relative;
}
.sh-container h1 {
  padding: 10px;
  position: relative;
  z-index: 2;
}
.sh-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.3;
} 
.sh-header {
  font-size: 27px;
  color:red;
  text-shadow: 2px 2px gold;
}
.sh-body {
  z-index: 2;
}
.sh-body h2 {
  font-size: 45px;
  padding: 10px;
  position: relative;
  color: black;
  text-shadow: 2px 2px gold;
  z-index: 2;
} 
.sh-body h3 {
  font-size: 36px;
  padding: 10px;
  display:inline-block;
  color: red;
  text-shadow: 2px 2px gold;
  margin-right:5px;
  z-index: 2;
} 
.sh-body button {
  display:inline-block;
  background-color: gold;
  color: black;
  font-weight: bold;
  padding: .78em;
  z-index: 2;
}

/* Star Wars */
.sw-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: repeat;
  position: relative;
  font-size: 27px;
}

.sw-container h1 {
  padding: 10px;
  position: relative;
  z-index: 2;
} 
.sw-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.3;
}
.sw-container h2 {
  padding: 10px;
  position: relative;
  color: orangered;
  z-index: 2;
}
.sw-container h3 {
  display:inline-block;
  margin-right:5px;
  z-index: 2;
} 
.sw-container button {
  display:inline-block;
  background-color: rgb(255, 255, 0);
  padding: .5em;
  z-index: 2;
}