.App {
  text-align: center;
}

.Home-header {
  background-image: url('https://thumbs.gfycat.com/DelayedMiserableHen-size_restricted.gif');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 54px;
  color: white;
}

.sh-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 27px;
}

.sh-container h1 {
  padding: 10px;
  position: relative;
  z-index: 2;
} 

.sh-container h2 {
  padding: 10px;
  position: relative;
  z-index: 2;
} 

.sh-container h3 {
  display:inline-block;
  margin-right:5px;
  color: red;
  z-index: 2;
} 

.sh-container p {
  margin-right:5px;
  color: black;
  z-index: 2;
} 

.sh-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.3;
}

.sh-container button {
  display:inline-block;
  background-color: aqua;
  padding: .5em;
  z-index: 2;
}

.sw-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 27px;
}

.sw-container h1 {
  padding: 10px;
  position: relative;
  z-index: 2;
} 
.sw-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.3;
}

.App-link {
  color: #61dafb;
}

.navigationWrapper {	
  background: teal;
  font-size: 27px;
	width: 100%;
	min-height: 55px;
	padding-left: 25px;
	border-bottom: 1px solid rgba(15,15,15,0.5);
	margin: auto;
}
.linksWrapper {
  margin: auto;
}

.navLink {
  margin: 5px 12px;
  float: left;
  color: white;
}
.navLink:hover {
  color: black !important;
}
.activeLink {
  color: black !important;
}