/* App */
.App {
  text-align: center;
}

/* Home */
.Home-wrapper {
  background-image: url('https://thumbs.gfycat.com/DelayedMiserableHen-size_restricted.gif');
  background-repeat: repeat;
  width: 102%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 2px 2px black;
  color: white;
  }
.Home-header {
  font-size: 45px;
}
.Home-body {
  font-size: 30px;
}
.Home-link {
  color: gold;
}
.Home-link:hover {
  color: red !important;
}

/* Nav */
.Nav-wrapper {	
  background: teal;
  text-align: center;
  font-size: 27px;
  text-shadow: 2px 2px black;
	width: 100%;
	min-height: 55px;
	padding-left: 25px;
	border-bottom: 1px solid rgba(15,15,15,0.5);
	margin: auto;
}
.Nav-links-wrapper {
  margin: auto;
}
.Nav-link {
  margin: 5px 12px;
  float: left;
  color: white;
}
.Nav-link:hover {
  color: red !important;
}
.Active-link {
  color: red !important;
}

/* Footer */
.Home-footer {
  align-items: center;
  color: white;
  text-shadow: none;
}
.Home-footer a {
  color: gold;
}
.Home-footer a:hover {
  color: red !important;
}

/* Super Heros */
.sh-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: repeat;
  position: relative;
}
.sh-container h1 {
  padding: 10px;
  position: relative;
  z-index: 2;
}
.sh-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 102%;
  height: auto;
  opacity: 0.4;
} 
.sh-header {
  font-size: 33px;
  color:green;
  text-shadow: 2px 2px gold;
}
.sh-body {
  z-index: 2;
}
.sh-body h2 {
  font-size: 45px;
  padding: 10px;
  position: relative;
  color: black;
  text-shadow: 2px 2px gold;
  z-index: 2;
} 
.sh-body h3 {
  font-size: 36px;
  padding: 10px;
  display:inline-block;
  color: green;
  text-shadow: 2px 2px gold;
  margin-right:5px;
  z-index: 2;
} 
.sh-body button {
  display:inline-block;
  background-color: gold;
  color: black;
  font-weight: bold;
  font-size: 18px;
  padding: .78em;
  z-index: 2;
}

/* Star Wars */
.sw-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: repeat;
  position: relative;
}
.sw-container h1 {
  padding: 10px;
  position: relative;
  z-index: 2;
}
.sw-header {
  font-size: 33px;
  color:purple;
  text-shadow: 2px 2px black;
}
.sw-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 102%;
  height: auto;
  opacity: 0.4;
}
.sw-body {
  z-index: 2;
  color: black;
  text-shadow: 2px 2px gold;
}
.sw-body h2 {
  font-size: 50px;
  padding: 10px;
  position: relative;
  z-index: 2;
} 
.sw-body button {
  display:inline-block;
  background-color: gold;
  color: black;
  font-weight: bold;
  font-size: 18px;
  padding: .78em;
  z-index: 2;
}

/* Hipster Ipsum */
.hip-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: repeat;
  position: relative;
}
.hip-container h1 {
  padding: 10px;
  position: relative;
  z-index: 2;
}
.hip-header {
  font-size: 33px;
  color: maroon;
  text-shadow: 2px 2px black;
}
.hip-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 102%;
  height: auto;
  opacity: 0.4;
}
.hip-body {
  z-index: 2;
  color: darkslategray;
  text-shadow: 2px 2px black;
}
.hip-body h2 {
  font-size: 60px;
  padding: 10px;
  position: relative;
  z-index: 2;
} 
.hip-body button {
  display:inline-block;
  background-color: gold;
  color: black;
  font-weight: bold;
  font-size: 18px;
  padding: .78em;
  z-index: 2;
}

/* Smart Devm */
.dev-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: repeat;
  position: relative;
}
.dev-container h1 {
  padding: 10px;
  position: relative;
  z-index: 2;
}
.dev-header {
  font-size: 33px;
  color: maroon;
  text-shadow: 2px 2px black;
}
.dev-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 102%;
  height: auto;
  opacity: 0.4;
}
.dev-body {
  z-index: 2;
  color: darkslategray;
  text-shadow: 2px 2px black;
}
.dev-body h2 {
  font-size: 60px;
  padding: 10px;
  position: relative;
  z-index: 2;
} 
.dev-body button {
  display:inline-block;
  background-color: gold;
  color: black;
  font-weight: bold;
  font-size: 18px;
  padding: .78em;
  z-index: 2;
}